<h5><%= link_to('Transaction History', trades_path) %></h5>

</br>

<div class="card w-50">
	<table id="portfolio-details" class="table">
		<thead class="thead-inverse">
			<tr>
				<th id="total-investment"><p>Investment Value</p></th>
				<th><p>Portfolio Value</p></th>
				<th><p>Percentage</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @total_investment %></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

</br>
</br>
<h1>This Page Should Display:</h1>

<ul>
  <li>Total Portfolio Value</li>
  <li>Total Percentage Diff</li>
  <li>A Link to transactions &#10004;</li>
</ul>

