<h1>This Page Should Display:</h1>

<ul>
  <li>Total Portfolio Value</li>
  <li>Total Percentage Diff</li>
  <li>A Link to transactions</li>
</ul>

<h3><%= link_to('Transaction History', transactions_path) %></h3>