<h1>This Page Should Display:</h1>

<ul>
  <li>Total Portfolio Value</li>
  <li>Total Percentage Diff</li>
  <li>A Link to transactions &#10004;</li>
</ul>

<h3><%= link_to('Transaction History', trades_path) %></h3>