<h1>Transaction History</h1>

<div class="card w-75">
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>Coins</th>
				<th>Amount</th>
				<th>Price</th>
			</tr>
		</thead>

		<tbody>
			<% @trades.each do |trade| %>
				<%= render partial: 'trade', locals: {trade: trade} %>
			<% end %>
		</tbody>
		
	</table>
</div>

<%= link_to('+', new_trade_path, data: { toggle: 'modal', target: '#add_transaction_modal'}, class: ["btn", "btn-dark"], remote: true) %>

<!-- Modal -->
<div class="modal fade" id="add_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Purchase</h4>
      </div>
      <div class="modal-body">
        <div id="form"></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<h3><%= link_to('Home', root_path) %></h3>